*{
    margin: 0;
    padding: 0;
}
body{
    font-family: montserrat ,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    background: #389cc7;
    width: auto;
    height: auto;
}
#btn a{
    text-decoration: none;
}
#btn{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}
#logo{
    padding: 25px 25px 0px 25px;
    margin-left: 50px;
}
#pernambuco{
    padding: 6px;
    margin-left: 200px;
}
nav{
    
    margin-left: 100px;
}
nav a{
    text-decoration: none;
    color: #fff;
}
nav a:hover{
    color: aqua;
    border-bottom: 1px solid #063970;
}
nav ul li{
    display: inline-block;
    margin: 15px;
    margin-left: 200px;
}
#entrar, #cadastrar{
    display: block;
    text-align: center;
    width: 90px;
    border-radius: 10px;
    padding: 9px;
    margin: 15px;
    transition: 0.5s all;
}
#entrar,#cadastrar:hover{
    border: #fff solid 1px;
    color: #fff;
    background: #063970;
}
#cadastrar,#entrar:hover{
    border: #063970 solid 1px;
    color: #063970;
    background: #fff;
}

.container{
    background: linear-gradient(45deg, #389cc7, #063970);
    background-repeat: no-repeat;
    min-height: 88vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLogin{
    display: block;
    text-align: center;
    width: 80px;
    border-radius: 4px;
    padding: 9px;
    margin-top: 17px;
    transition: 0.1s all;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
    color: #fff;
    background: #063970;
}
.btn_blue:hover{
    color: #389cc7;
    background: #fff;
}










