.selec-perfil{
    background-color: rgba(237, 237, 237, 0.7);
    padding: 5px;
    margin: 15px auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    justify-content: center;
    padding-left: auto ;
    padding-right: auto;
    height: auto;
    width: 550px;
    text-align: center;
    color: #282828;
}
.perfis-table{
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 300px;
}
.area-ouvidor{
    height: 300px;
    width: 250px;
    background-color: #a4a4a4;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 150%;
    margin-right: auto;
    margin: 80px auto;
}
.area-cidadao{
    height: 300px;
    width: 250px;
    background-color: #a4a4a4;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 150%;
    margin-right: auto;
    margin: 80px auto;
}
#perfis div:hover{
    background-color: #153c63;
    box-shadow: 0 0 2em #303030;
}
#cidadao, #ouvidor{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;;
    color: #ffffff;
}
h4{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    color: #2b2b2b;
}
b{
    color: #153c63;
}