*{
    margin: 0;
    padding: 0;
}
body{
    font-family: montserrat ,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}
/*caebcalho*/
header{
    display: flex;
    flex-wrap: wrap;
    background: #389cc7;
    width: auto;
    height: auto;
}
#btn a{
    text-decoration: none;
}
#btn{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}
#logo{
    padding: 25px 25px 0px 25px;
    margin-left: 50px;
}
#pernambuco{
    padding: 6px;
    margin-left: 200px;
}
nav{
    
    margin-left: 100px;
}
nav a{
    text-decoration: none;
    color: #fff;
}
nav a:hover{
    color: aqua;
    border-bottom: 1px solid #063970;
}
nav ul li{
    display: inline-block;
    margin: 15px;
    margin-left: 200px;
}
#entrar, #cadastrar{
    display: block;
    text-align: center;
    width: 90px;
    border-radius: 10px;
    padding: 9px;
    margin: 15px;
    transition: 0.5s all;
}
#entrar,#cadastrar:hover{
    border: #fff solid 1px;
    color: #fff;
    background: #063970;
}
#cadastrar,#entrar:hover{
    border: #063970 solid 1px;
    color: #063970;
    background: #fff;
}

/* area principal */
#principal{
    margin: 0 auto;
    background: linear-gradient(45deg, #389cc7, #063970);
    background-repeat: no-repeat;
    height: 38rem;
    border: solid rgb(25, 12, 82) 0.1px;
}
#reclame a{
    display: block;
    background: url(../img/reclame.png);
    height: 90px;
    width: 326px;
    margin: 0 auto;
    margin-top: 5%;
}
#reclame a:hover{
    display: block;
    background: url(../img/reclame.png) right;
    height: 90px;
    width: 326px;
}
article{
    width: 90%;
    margin: 0 auto;
    border: solid 2px rgb(8, 10, 44);
    border-radius: 15px;
    background: rgb(221, 217, 217);
    margin-top: 25px;
    box-shadow: 2px 2px 2px;
}
article p, article h3{
    margin: 15px;
}
/* area de login */
.container{
    background: linear-gradient(45deg, #389cc7, #063970);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#email,#senha,#confirmar{
    text-align: center;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
}
#entrando{
    width: 500px;
}
/* area de cadastro */
#cdp1{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    height: auto;
    width: auto;
    padding: 20px;
    margin-top: 10px;
}
td{
    display: inline-block;
    margin: 5px;
}
#cdp1 h2{
    text-align: center;

}
#btn2 a{
    text-decoration: none;
}
#btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-wrap: wrap;
}
#cidadao, #ouvidor{
    display: block;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: 0.5s all;
}
#cidadao,#ouvidor:hover{
    border: #fff solid 1px;
    color: #fff;
    background: #063970;
}
#ouvidor,#cidadao:hover{
    border: #063970 solid 1px;
    color: #063970;
    background: #fff;
}
/*Cadastro parte 2*/
#btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    flex-wrap: wrap;
}
#btn3 a{
    text-decoration: none;
}
#seguir,#voltar{
    display: block;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
    transition: 0.5s all;
}
#voltar,#seguir:hover{
    border: #fff solid 1px;
    color: #fff;
    background: #063970;
}
#seguir,#voltar:hover{
    border: #063970 solid 1px;
    color: #063970;
    background: #fff;
}
/* Cadastro 2/3 */ 
fieldset{
    border: solid 3px #fff;
    width: 630px;
}
#ouvidorc{
    border: solid 3px #fff;
    width: 480px;
}
#cpf, #nome{
    width: 250px;
}
legend{
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    background:linear-gradient(45deg, #063970, #6193bd) ;
}
.inputbox{
    display: flex;
}
.inputuser{
    width: 100%;
    color: rgb(3, 3, 3);
    background: #fff;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
td{
    margin-left: 15px;
}
::placeholder{
    color: #000;
    text-transform: uppercase;
}
#confirmar{
    color: #063970;
    font-size: large;
    float: right;
    width: 160px;
    border-radius: 10px;
    padding: 3px;
    margin-top: 20px;
    margin-right: 75px;
    cursor: pointer;
}
#confirmar1{
    color: #063970;
    font-size: large;
    float: right;
    width: 160px;
    border-radius: 10px;
    padding: 5.5px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}
#sexo{
    margin-left: 51px;
}
/*Reclamações*/
#R1{
    width: 95%;
    height: 530px;
    margin-top: 30px;
}
aside{
    float: left;
    margin-left: 1%;
    background: rgba(255, 255, 255, 0.856);
    width: 25%; 
    height: 530px;
}
#reclamacoes{
    float: right;
    background: rgba(255, 255, 255, 0.856);
    width: 73%;
    height: 530px;
}
#pg4-4{
    margin-left: 835px;
    margin-top: 80px;
}
#opcoes{
    margin: 0 auto;
    width: 70%;
}
.btnl{
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    display: block;
    width: 250px;
    padding: 15px;
    background: #389cc7;
    transition: 0.5s all;
}
.btnl:hover{
    background-color: #063970;
    color: aquamarine;
}
#reclamacoes h2,#reclamacoes h4{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}
.btnRg,.btnRr{
    text-align: center;
    margin-top: 20px;
    display: block;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 2px 2px 2px;
}
.btnRg{
    background: #0a0;
}
.btnRr{
    background: #d00;
}
#secretaria{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
}
#tipoServidor{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 198px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
#reclamacoes div{
    margin-top: 130px;
}
#seguir,#concluir{
    display: block;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s all;
    border: #063970 solid 1px;
    color: #fff;
    background: #0a0;
    text-decoration: none;
    margin: 0 auto;
}
#seguir:hover,#concluir:hover{
    border: #fff solid 1px;
    color: #fff;
    background: #0d0;
}
#concluir{
    margin-top:50px;
}
#titulo{
    width: 610px;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 43px;
}
#texto{
    border-radius: 15px;
    width: 610px;
    padding-bottom: 100px;
}
.rf{
    margin: 10px;
}
#arquivo{
    margin-left: 25px;
}
#pg{
    text-align: center;
    font-weight: 800;
    margin-top: 126px;
    margin-left: 830px;
}
#final{
    display: flex;
    border: solid red 1px;
}
#final h5{
    margin-top: 28px;
    margin-right: 3px;
}
#createaccount, #setnewpass{
    font-size:13px;
    padding-left: 15px;
    padding-right: 50px;
    padding-bottom: 10px;
}
a:link 
{ 
 text-decoration:none; 
}
.message{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: auto;
    padding-right: auto;
    transition: 0.5s all;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size:12px;
    font-weight: bold;
    color: #fff;
    background: #cd0000;
    border: none;
}
#idreclamacao{
    border: none;
    text-align: center;
    margin:0 auto;
}
.inputIdReclamacao{
    outline: none;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;

    margin-right: auto;
    border: 5px solid #bfbfbf;
    background: #d8d8d8;
    font-weight: bold;
    font-size:40px;
    color: #363636;
}
.required:after {
    content:" *";
    font-size:20px;
    font-weight: bold;
    color: red;    
}
